<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"/>
    <property name="connection.driver_class"/>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <mapping class="com.booking_system.entities.Aircraft"/>
    <mapping class="com.booking_system.entities.Airport"/>
    <mapping class="com.booking_system.entities.Booking"/>
    <mapping class="com.booking_system.entities.Flight"/>
    <mapping class="com.booking_system.entities.Passenger"/>
    <mapping class="com.booking_system.entities.Seat"/>
    <mapping class="com.booking_system.entities.Ticket"/>
    <mapping class="com.booking_system.entities.Discount"/>
    <mapping class="com.booking_system.entities.AuditEntity"/>
  </session-factory>
</hibernate-configuration>